$default-font: 'PT Sans', Arial, Helvetica, sans-serif;

$default-font-narrow: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$default-font-serif: 'PT Serif', 'Times New Roman', Times, serif;

$special-font: 'PT Sans Caption', Arial, Helvetica, sans-serif;

$btn-color: #e82a79;
$btn-highlight: #e687ba;

/* Pink */
$primary-color: #6FBBEE;

//*Color used for top-bar*// 
$accent-color: #ADDFF8;

// lime green
$highlight-color: #6FBBEE;

// Standish Green
$secondary-color: #B4D6F1;

// Footer Color
$neutral-dark: #4d4d4d;

// Primary Dark Gray
$primary-gray: #696969;

// redish brown
$primary-darken: #a0522d;

$light-cream: #f5f5dc;


$light-gray: #B8B8B8;

$hbspt-form-bkg: rgba(111, 187, 238, 0.52);


$iphone: 320px;
$xs: 480px;

$tablet: 768px;
$medium: 992px;
$large: 1200px;