$default-font: 'PT Sans', Arial, Helvetica, sans-serif;

$default-font-narrow: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$default-font-serif: 'PT Serif', 'Times New Roman', Times, serif;

$btn-color: #DF3D75;

$btn-highlight: #F69BC5;

/* Pink */
$primary-color: #6FBBEE;

//*Color used for top-bar*// 
$accent-color: #6FBBEE;

// lime green
$highlight-color: #6FBBEE;

// Standish Green
$secondary-color: #B4D6F1;

// Footer Color
$neutral-dark: #4d4d4d;

// Primary Dark Gray
$primary-gray: #696969;

// redish brown
$primary-darken: #a0522d;

$light-cream: #f5f5dc;